<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <img src="https://cdn-icons-png.flaticon.com/128/8787/8787186.png" alt="Product Logo" width="50px" height="50px">
    <a href="#" class="navbar-brand">Product Register</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="products" class="nav-link">Products</a>
      </li>
      <li class="nav-item">
        <a routerLink="add" class="nav-link">New Product</a>
      </li>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>